.credits{
    width: 100%;
}
.credits_bg{
    height: 400px;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}
.credits_bg h1{
    font-family: Love light;
    font-size: 120px;
    font-weight: 300;
    color: #600f44;
    text-align: center;
    padding-top: 120px;
}
@media screen and (max-width:600px){
    .credits{
        width: 100%;
    }
    .credits_bg{
        height: 400px;
        width: 100%;
        background-position: center;
        background-size: cover;
        position: relative;
    }
    .credits_bg h1{
        font-family: Love light;
        font-size: 100px;
        font-weight: 300;
        color: #600f44;
        text-align: center;
        padding-top: 120px;
    }
}