@media (min-width:320px) {
    .main{
        height: 100vh;
        width: 100vw;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .main_image{
        background-color: rgba(255, 255, 255, 0.775);
        height: 100vh;
    }

    .main_text_m{
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 50%;
        width: 100%;
        text-align: center;
    }
    
    .main_text{
        display: none;
    }
    
    .main_text_m p {
        font-size: 12px;
        letter-spacing: 3px;
        font-weight: bold;
        color: #600f44;
        opacity: 0.7;
        margin-bottom: 25px;
    }
    
    .main_text_m h1{
        font-family: Dancing Script;
        font-weight: 700;
        font-size: 70px;
        color: #600f44;
    }
    
    .floral_image{
        height: 20%;
        width: 100%;
        position: absolute;
        margin: auto;
        bottom: 0;
        left: 0;
        right: 0;
        background-position: center;
        background-size:cover;
        background-repeat: no-repeat;
        opacity: 0.7;
    }
  }
    

  @media (min-width:600px) {
    .main{
        height: 100%;
        width: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .main_image{
        background-color: rgba(255, 255, 255, 0.775);
        height: 100vh;
    }
    
    .main_text{
        display: inline;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 30%;
        width: 50%;
        text-align: center;
    }

    .main_text_m{
        display: none;
    }
    
    .main_text p {
        font-size: 12px;
        letter-spacing: 5px;
        font-weight: bold;
        color: #600f44;
        opacity: 0.7;
        margin-bottom: 10px;
    }
    
    .main_text h1{
        font-family: Dancing Script;
        font-size: 100px;
        color: #600f44;
    }
    
    .floral_image{
        height: 35%;
        width: 550px;
        position: absolute;
        margin: auto;
        bottom: 0;
        left: 0;
        right: 0;
        background-position: center;
        background-size:cover;
        background-repeat: no-repeat;
        opacity: 0.7;
    }
  }

