.bride{
    height: 100vh;
    background-color: #600f4436;
    width: 100%;
    position: relative;
}

.bride_box{
    width: 90%;
    height: 90%;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: row;
}

.bride_image{
    flex: 1;
    position: relative;
}

.bride_image2{
    width: 60%;
    height: 80%;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 5px 5px 5px ;
    transform:scaleX(-1);
}

.bride_image2:hover{
    width:300px;
    height: 300px;
    border-radius: 50%;
    transition: 1s ease;
}

.bride_text{
    flex: 1;
    margin: 10% 0;
}

.bride_text h1{
    text-align: center;
    font-size: 50px;
    font-family: Raleway;
    font-weight: 200;
    letter-spacing: 2px;
    color: #317773;
}

.bride_text h2{
    font-family: Allura;
    font-size: 70px;
    text-align: center;
    color: #600f44;
}

.bride_text h3{
    font-size: 20px;
    font-family: Raleway;
    font-weight: 300;
    margin: 40px;
    line-height: 1.6;
    word-spacing: 3px;
    text-align: center;
}


@media screen and (max-width:600px) {
    .bride_box{
        flex-direction: column;
    }

    .bride_image{
        margin: 0;
        padding: 0;


    }

    .bride_text{
        margin: 0;
        padding: 0;
    }

    .bride_text h1{
        font-size: 30px;
        font-weight: 400;
        margin-top: 70px;
        margin-bottom: 10px;
    }

    .bride_text h2{
        font-size: 50px; 
    }

    .bride_text h3{
        font-size: 20px;
        font-family: Raleway;
        font-weight: 300;
        margin: 40px 10px 0 10px;
        line-height: 1.6;
        word-spacing: 0px;
        justify-content: center;
        text-align: center;
    }

    .bride_image2{
        width: 100%;
        height: 100%;
        border-radius: 30px;
        box-shadow: 0 0 0;
    }
}