.story{
    width: 100%;
    background-position: center;
    background-size: cover;
    padding-bottom: 60px;
}
.story_width{
    width: 100%;
    margin: auto;
}
.story_header{
    text-align: center;
    margin: 0px 20px;
}
.story_header h1{
    padding: 20px 0 20px 0;
    font-size: 50px;
    font-family: Raleway;
    font-weight: 300;
    letter-spacing: 2px;
    color: #600f44;
}

@media screen and (max-width: 600px){
    .story_width{
        width: 100%;
        margin: auto;
    }
}
